*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box; 
}
body{
    background-color: #121212;
}
nav{
    display: flex;
    padding-inline: 1rem;
    width: 100%;
    justify-content: space-between;
    text-align: center;
}
.image{
    height: 8rem;
}
nav ul{
    display: flex;
    align-items: center;
    padding-right: 4rem;
    
}

nav ul li{
    font-family: 'Montserrat', sans-serif;

    color: white;
    display: inline-block;
    font-size: 20px;
    margin: 13px; 
    padding: 5px; 
    
}

.container1{
    min-height: 100vh;
    min-height: 100dvh;
    color: white; 
    padding-top: 5%;
    padding-left: 30px;
    font-size: 100px;
    /* font-weight: 700; */
    padding-bottom: 3rem;
}

.heading{
    /* font-family: 'Oswald', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 150px;
}
.bold{
font-weight: 900;

}

.about{
    background-color : #fffff2;
    /* height: 40vh; */
    width: 100%;
    text-align: center;
    color: #121212;

}
.about>h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 80px;
    padding-top: 5%;
}
.about-text{
    font-size: 20px;
    width: 50%;
    margin: auto;
    padding: 5rem 0;
}