* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media (max-width: 40em) {
  .heading,
  .portfolio {
    font-size: 80px;
  }
}

@media (max-width: 30em) {
  .heading,
  .portfolio {
    font-size: 60px;
  }
}

@media (min-width: 70em) {
  .container1 {
    padding-top: 15%;
  }
}

@media (max-width: 40em) {
  nav ul li {
    font-size: 10px;
    margin: 4px;
    padding: 2px;
  }
}

@media (max-width: 40em) {
  nav ul {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
body {
  background-color: #121212;
}
nav {
  display: flex;
  padding-inline: 1rem;
  max-width: 100%;
  justify-content: space-between;
  text-align: center;
}
.nav {
  min-height: 100dvh;
  
}
.image {
  height: 8rem;
}
nav ul {
  display: flex;
  align-items: center;
  padding-right: 4rem;
}

nav ul li {
  font-family: "Montserrat", sans-serif;

  /* color: white; */
  color: #274841;
  transition: color 1s ease-in-out;
  display: inline-block;
  font-size: 20px;
  font-weight: 900;
  margin: 13px;
  cursor: pointer;
  padding: 5px;
}

.container1 {
  
  color: #274841;
  padding-top: 9%;
  padding-left: 30px;
  font-size: min(10vw, 100px);
  padding-bottom: 3rem;
}
.portfolio {
  transition: color 1s ease-in-out;
}

.heading {
  font-family: "Italiana", serif;

  font-size: 150px;
  transition: color 1s ease-in-out;
}

.about {
  background-color: #fffff2;
  display: inline-block;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  color: #355d54;
}
.about > h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-size: 80px;
  padding-top: 5%;
}
.about-text {
  font-size: 20px;
  width: 50%;
  margin: auto;
  padding: 5rem 0;
}

.heading:hover,
.portfolio:hover {
  color: #fffff2;
}

nav ul li:hover {
  color: #fffff2;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fffff2;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #274841;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #274841;
}
